APP_VARIANT=development
EXPO_PUBLIC_API_BASE_URL=http://localhost:3000
EXPO_PUBLIC_SUPABASE_URL=<test_or_local_supabase_url>
EXPO_PUBLIC_SUPABASE_ANON_KEY=<test_or_local_anon_key>
EXPO_PUBLIC_ALLOW_INSECURE_HTTP=true
EXPO_PUBLIC_USE_REALTIME_API=true
EXPO_PUBLIC_STRICT_STAGE_ENTRY=true
USER_EMAIL=<test_patient_email>
USER_PASSWORD=<test_patient_password>
CLINICIAN_EMAIL=<test_clinician_email>
CLINICIAN_PASSWORD=<test_clinician_password>
